<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bonjour OussOuss Pizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
    <h1>Welcome to OussOuss Pizza...</h1>
    <img th:src="@{/images/pizza.png}"/>
    <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="Logout"/>
    </form>
    
    <a th:href="@{/design}" id="design">Design a pizza</a>
  </body>
</html>